$navbar-height: 70px;
$text-color: rgb(210, 210, 210);
$input-height: 40px;

* {
        padding: 0;
        margin: 0;
}

.textStyle {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
                sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 20px;
        white-space: pre-line;
        color: $text-color;
        display: table-cell;
}

.wrapper {
        white-space: pre-line;
        background-color: black;
        height: 100%;
}

.horline {
        border: 0.1px solid $text-color;
        // margin-left: 100px;
        // margin-right: 100px;
        margin-top: 0px;
}

.par {
        margin-left: 2em;
}

#map {
        height: 600px;
        margin-bottom: 10px;
        // background-color: aqua;
}

.uppernav {
        background: black;
        position: relative;

        &__ul {
                margin-bottom: 0px;
        }

        &__li {
                display: inline;
        }

        &__link {
                text-decoration: none;
                font-size: 20px;
                line-height: $navbar-height;
                margin-right: 16px;
                margin-left: 10px;
                color: white;
        }

        &__link:hover {
                text-decoration: none;
                color: white;
        }

        &__logo {
                text-decoration: none;
                font-size: 25px;
                line-height: $navbar-height;
                margin-right: 40px;
                margin-left: 10px;
                color: white;
        }

        &__logo:hover {
                text-decoration: none;
                color: white;
        }
}

.footer {
        background: black;
        position: relative;

        &__content {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
        }

        &__ul {
                grid-column-start: 2;
                justify-self: center;
                text-align: center;
                margin-bottom: 0px;
                // display: inline-block;
        }

        &__li {
                display: inline;
        }

        &__inc {
                grid-column-start: 1;
                text-align: left;
                color: $text-color;
                margin-left: 20px;
                margin-top: 6px;
        }

        &__link {
                text-align: center;
                margin-right: 10px;
                margin-left: 10px;
                width: 42px;
                height: 42px;
                background: $text-color;
                border-radius: 50%;
                display: inline-block;
                margin-bottom: 15px;
        }

        &__img {
                background: $text-color;
                margin-top: 6px;
                width: 28px;
                height: auto;
        }
}

.contact {
        &__ul {
                // display: inline-grid;
                text-align: center;
        }

        &__li {
                display: contents;
        }

        &__dark {
                display: -webkit-inline-box;
                border-width: 4px;
                border-style: solid;
                border-radius: 40px;
                background: rgb(30, 30, 30);
                border-color: rgb(20, 20, 20);
                padding: 20px;
                width: auto;
                height: auto;
                margin: 10px;
                margin-bottom: 0px;
        }

        &__img {
                margin: 0 auto;
                // text-align: left;
                margin-left: -40%;
                height: 100%;
                width: auto;
        }

        &__info {
                display: block;
                background: rgb(30, 30, 30);
                color: $text-color;
                margin-left: 20px;
        }

        &__opening-hours {
                margin-left: 20px;
                margin-bottom: 20px;
        }

        &__subinfo {
                background: rgb(30, 30, 30);
                margin-top: 10px;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        }

        &__text-style {
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
                        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
                font-size: 16px;
                white-space: pre-line;
                color: $text-color;
                display: table-cell;
                background: rgb(30, 30, 30);
        }
}

.image-cropper {
        display: -webkit-inline-box;
        box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.5);
        // margin: 0px;
        // padding: 0px;
        width: 120px;
        height: 120px;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
        border-style: solid;
        border-color: rgb(20, 20, 20);
        border-width: 2px;
}

.title_text {
        margin-bottom: 0px;
        font-size: 30px;
        color: $text-color;
        display: table;
        white-space: nowrap;
        margin-left: 80px;
        margin-right: 80px;
        &:before,
        &:after {
                border-top: 0.5px solid $text-color;
                content: "";
                display: table-cell;
                position: relative;
                top: 22px;
                width: 45%;
        }
        &:before {
                right: 1.5%;
        }
        &:after {
                left: 1.5%;
        }
}

.sidenav {
        height: 500px; /* Full-height: remove this if you want "auto" height */
        width: 200px; /* Set the width of the sidebar */
        // position: fixed; /* Fixed Sidebar (stay in place on scroll) */
        z-index: 1;
        top: 0; /* Stay at the top */
        left: 0;
        // background-color: #111; /* Black */
        // background-color: rgb(20, 20, 20);
        background: rgb(30, 30, 30);
        overflow-x: hidden; /* Disable horizontal scroll */
        -ms-overflow-style: none;
        border-right-width: 0.5px;
        border-right-style: solid;
        border-right-color: $text-color;
        border-top-width: 0.5px;
        border-top-style: solid;
        border-top-color: $text-color;
        border-bottom-width: 0.5px;
        border-bottom-style: solid;
        border-bottom-color: $text-color;
        color: $text-color;

        &__element {
                margin: 5px;
        }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.sidenav::-webkit-scrollbar {
        display: none;
}

/* The navigation menu links */
// .sidenav a {
//         padding: 0px 8px 6px 16px;
//         text-decoration: none;
//         font-size: 20px;
//         color: $text-color;
//         display: block;
// }

/* When you mouse over the navigation links, change their color */
// .sidenav a:hover {
//         color: #f1f1f1;
// }

.cars {
        display: -webkit-box;
        width: 100%;
        // margin-left: 200px;

        &__input {
                outline-width: 0px;
                width: 800px;
                padding-left: 8px;
                height: $input-height;
        }

        &__search {
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
                        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
                // width: 900px;
                display: -webkit-inline-box;

                &__el {
                }
        }

        &__content {
                display: inline-grid;
        }
}

.btn {
        text-align: center;
        &__dark {
                width: 70px;
                height: $input-height;
                outline-width: 0px;
                border-width: 1px;
                border-radius: 0 10px 10px 0px;
        }

        &__dark:focus {
                outline: none;
        }
}

.car-list {
        &__list {
                display: -webkit-inline-box;
        }

        &__ul {
                // display: grid;
        }

        &__li {
                display: block;
                border-bottom: 0.5px solid $text-color;
                margin-left: 40px;
        }

        &__dark {
                display: -webkit-inline-box;
                // border-width: 1px;
                // border-style: solid;
                padding: 20px;
                width: auto;
                height: auto;
                margin: 10px;
                margin-top: 0px;
                margin-bottom: 0px;
        }

        &__img {
                margin: 0 auto;
                margin-left: -20%;
                height: 100%;
                width: auto;
        }

        &__info {
                display: block;
                color: $text-color;
                margin-left: 20px;
                width: 450px;

                font-size: 30px;

                &__main {
                        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);    
                        margin-bottom: 40px;
                }
        }

        &__opening-hours {
                margin-left: 20px;
                margin-bottom: 20px;
        }

        &__subinfo {
                margin-top: 15px;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        }

        &__text-style {
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
                        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
                font-size: 20px;
                white-space: pre-line;
                color: $text-color;
                display: table-cell;

                &__main {
                        font-size: 30px;
                        font-weight: bolder;
                        color: $text-color;
                        word-wrap: break-word;
                        margin-bottom: 20px;
                }

                &__main:hover {
                        color: $text-color;
                }
        }

        &__img-cropper {
                display: -webkit-inline-box;
                box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.5);
                width: 300px;
                height: 300px;
                position: relative;
                overflow: hidden;
                border-style: solid;
                border-radius: 5%;
        }
}
