* {
  padding: 0;
  margin: 0; }

.textStyle {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 20px;
  white-space: pre-line;
  color: #d2d2d2;
  display: table-cell;
  overflow-wrap: anywhere; }

.wrapper {
  white-space: pre-line;
  background-color: black;
  height: 100%;
  min-height: 100vh; }

.horline {
  border: 0.5px solid #d2d2d2;
  margin-bottom: 10px;
  margin-left: 40px;
  margin-right: 40px;
  height: 0.1px;
  color: #d2d2d2; }

.par {
  margin-left: 2em; }

#map {
  height: 600px;
  margin-bottom: 10px; }

.uppernav {
  background: black;
  position: relative; }
  .uppernav__ul {
    margin-bottom: 0px; }
  .uppernav__li {
    display: inline; }
  .uppernav__link {
    text-decoration: none;
    font-size: 20px;
    line-height: 70px;
    margin-right: 16px;
    margin-left: 10px;
    color: white; }
  .uppernav__link:hover {
    text-decoration: none;
    color: white; }
  .uppernav__logo {
    text-decoration: none;
    font-size: 25px;
    line-height: 70px;
    margin-right: 40px;
    margin-left: 10px;
    color: white; }
  .uppernav__logo:hover {
    text-decoration: none;
    color: white; }

.footer {
  background: black;
  position: relative; }
  .footer__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; }
  .footer__ul {
    grid-column-start: 2;
    justify-self: center;
    text-align: center;
    margin-bottom: 0px; }
  .footer__li {
    display: inline; }
  .footer__inc {
    grid-column-start: 1;
    text-align: left;
    color: #d2d2d2;
    margin-left: 20px;
    margin-top: 6px; }
  .footer__link {
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    width: 42px;
    height: 42px;
    background: #d2d2d2;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 15px; }
  .footer__img {
    background: #d2d2d2;
    margin-top: 6px;
    width: 28px;
    height: auto; }

.contact__ul {
  text-align: center; }
.contact__li {
  display: contents; }
.contact__dark {
  display: -webkit-inline-box;
  border-width: 4px;
  border-style: solid;
  border-radius: 40px;
  background: #1e1e1e;
  border-color: #141414;
  padding: 20px;
  width: auto;
  height: auto;
  margin: 10px;
  margin-bottom: 0px; }
.contact__img {
  margin: 0 auto;
  margin-left: -40%;
  height: 100%;
  width: auto; }
.contact__info {
  display: block;
  background: #1e1e1e;
  color: #d2d2d2;
  margin-left: 20px; }
.contact__opening-hours {
  margin-left: 20px;
  margin-bottom: 10px;
  display: inline-block; }
.contact__subinfo {
  background: #1e1e1e;
  margin-top: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); }
.contact__text-style {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
  white-space: pre-line;
  color: #d2d2d2;
  display: table-cell;
  background: #1e1e1e; }

.image-cropper {
  display: -webkit-inline-box;
  box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.5);
  width: 120px;
  height: 120px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border-style: solid;
  border-color: #141414;
  border-width: 2px; }

.title_text {
  background: #d2d2d2;
  height: 1px;
  margin-top: 10px;
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 35px;
  margin-bottom: 35px; }

.title_span {
  background-color: black;
  color: #d2d2d2;
  padding: 10px;
  position: relative;
  top: -22px;
  left: 20px;
  font-size: 30px;
  word-break: break-all; }

.optbar {
  transition: 0.5s;
  height: 0px;
  /* Full-height: remove this if you want "auto" height */
  width: 800px;
  z-index: 1;
  top: 0;
  /* Stay at the top */
  left: 0;
  text-align: center;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  -ms-overflow-style: none;
  color: #d2d2d2;
  margin-left: 30px; }
  .optbar__element {
    margin: 5px; }
    .optbar__element__year {
      display: inline-flex; }
    .optbar__element__btn {
      display: flex; }
  .optbar__input {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    border-radius: 3px;
    outline-width: 0px;
    width: -webkit-fill-available;
    padding: 3px;
    background-color: black;
    color: #d2d2d2;
    margin: 10px;
    margin-top: 0px;
    border-left-width: 0px;
    border-right-width: 0px; }
    .optbar__input__year {
      width: 100px;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      border-radius: 3px;
      outline-width: 0px;
      padding: 3px;
      background-color: black;
      color: #d2d2d2;
      border-left-width: 0px;
      border-right-width: 0px;
      margin-left: 1px;
      margin-right: 1px; }
  .optbar__button {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    display: block;
    width: 50px;
    margin: 10px;
    margin-left: 1px;
    margin-right: 1px;
    height: 35px;
    outline-width: 0px;
    border-width: 1px;
    border-radius: 3px;
    border-left-width: 0px;
    border-right-width: 0px;
    margin-top: 10px;
    background-color: black;
    color: #d2d2d2;
    display: inline-block; }
  .optbar__button:focus {
    outline-width: 0px; }
  .optbar__li {
    display: inline-block; }

.optbar::-webkit-scrollbar {
  display: none; }

.cars {
  display: -webkit-box;
  width: 100%; }
  .cars__input {
    outline-width: 0px;
    width: 750px;
    padding-left: 8px;
    height: 35px;
    border-radius: 10px 0px 0px 10px; }
  .cars__search {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    display: -webkit-inline-box;
    margin-left: 40px; }
  .cars__content {
    display: inline-grid; }

.btn {
  text-align: center; }
  .btn__dark {
    width: 70px;
    height: 35px;
    outline-width: 0px;
    border-width: 1px;
    border-radius: 0 10px 10px 0px; }
  .btn__dark:focus {
    outline: none; }

.car-list__list {
  width: 1200px; }
.car-list__li {
  display: block;
  border-bottom: 0.5px solid #d2d2d2;
  margin-left: 40px; }
.car-list__dark {
  display: -webkit-inline-box;
  padding: 20px;
  width: auto;
  height: auto;
  margin: 10px;
  margin-top: 0px;
  margin-bottom: 0px; }
.car-list__img {
  margin: 0 auto;
  margin-left: -20%;
  height: 100%;
  width: auto; }
.car-list__info {
  display: block;
  color: #d2d2d2;
  margin-left: 20px;
  width: 450px;
  font-size: 30px; }
  .car-list__info__main {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 40px; }
.car-list__opening-hours {
  margin-left: 20px;
  margin-bottom: 20px; }
.car-list__subinfo {
  margin-top: 15px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); }
.car-list__text-style {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 20px;
  white-space: pre-line;
  color: #d2d2d2;
  display: table-cell; }
  .car-list__text-style__main {
    font-size: 30px;
    font-weight: bolder;
    color: #d2d2d2;
    word-wrap: break-word;
    margin-bottom: 20px; }
  .car-list__text-style__main:hover {
    color: #d2d2d2; }
.car-list__img-cropper {
  display: -webkit-inline-box;
  box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.5);
  width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
  border-style: solid;
  border-radius: 5%; }

.sorting {
  display: inline-flex;
  align-items: end;
  margin-top: 20px; }
  .sorting__text {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    border-radius: 3px;
    outline-width: 0px;
    margin-left: 40px;
    margin-bottom: 0px;
    background-color: black;
    color: #d2d2d2;
    border-left-width: 0px;
    border-right-width: 0px; }
  .sorting__select {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    outline-width: 0px;
    margin-bottom: 0px;
    margin-left: 5px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-radius: 3px;
    background-color: black;
    color: #d2d2d2; }
  .sorting__spec {
    margin-left: 50px;
    cursor: pointer;
    color: #d2d2d2; }

.notfound {
  margin: 20px;
  color: #d2d2d2; }

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none; }

.pagination__ul {
  margin-left: 40px; }
.pagination__li {
  color: #d2d2d2;
  display: inline-block;
  cursor: pointer;
  padding: 10px 20px 10px 20px;
  background-color: black;
  border: solid 1px #d2d2d2;
  border-right: 0px;
  border-left: 0px; }
.pagination__curr {
  color: white;
  display: inline-block;
  padding: 10px 20px 10px 20px;
  background-color: #1e1e1e;
  border: solid 1px #d2d2d2; }

#deleteTextId {
  display: inline-block; }

#deleteTextId:hover {
  text-decoration-line: underline;
  cursor: pointer; }

.comment__area {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  outline-width: 0px;
  width: 100%;
  height: 80px;
  padding: 5px;
  border-radius: 5px;
  color: #d2d2d2;
  background-color: #1e1e1e;
  margin-top: 50px; }
.comment__first {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  outline-width: 0px;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  color: #d2d2d2;
  background-color: #1e1e1e;
  border: 0.5px solid #d2d2d2;
  text-align: center;
  margin-bottom: 10px; }

.price {
  margin-top: 40px;
  display: block; }

.order {
  display: block; }

.order:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #fff; }

.info {
  text-align: center; }

@media screen and (max-width: 1200px) {
  .cars__input {
    width: 500px; }

  .car-list__list {
    width: 575px; }
  .car-list__info {
    width: 200px; } }
@media screen and (max-width: 900px) {
  .cars__input {
    width: 330px; }
  .cars__content {
    width: 500px; }
  .cars__search {
    width: 500px; }

  .car-list__list {
    width: 375px;
    margin-right: 0px; }
  .car-list__dark {
    display: block; }
  .car-list__info {
    width: 100px;
    text-align: center;
    margin: 0px;
    width: 100%; }
    .car-list__info__subinfo {
      text-align: center; }

  .optbar {
    width: auto; }
    .optbar__input {
      width: 100px; }

  .contact__dark {
    display: block; }
  .contact__info {
    word-break: break-all; } }
@media screen and (max-width: 550px) {
  .cars__input {
    width: 200px; }
  .cars__content {
    width: 300px; }
  .cars__search {
    width: 300px; }

  .sorting {
    display: block;
    text-align: center;
    width: 300px; }
    .sorting__select {
      margin: 5px; }
    .sorting__spec {
      margin: 5px; }
    .sorting__text {
      width: 200px; }

  .optbar {
    width: 300px;
    text-align: center;
    display: block; }
    .optbar__input {
      width: 100px; }

  .car-list__list {
    width: 300px;
    margin-right: 0px; }
  .car-list__dark {
    display: block;
    margin: 0px;
    padding: 0px; }
  .car-list__info {
    width: 100px;
    text-align: center;
    margin: 0px;
    width: 100%; }
    .car-list__info__subinfo {
      text-align: center; } }
.dropbtn {
  background-color: black;
  border: none;
  text-decoration: none;
  font-size: 20px;
  line-height: 70px;
  margin-right: 16px;
  margin-left: 10px;
  color: white; }

.dropbtn:focus {
  outline-width: 0px; }

.dropdown {
  position: relative;
  display: inline-block;
  z-index: 2; }

.dropdown:hover .dropdown-content {
  display: block; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; }

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block; }

.dropdown-content a:hover {
  background-color: #ddd; }

.dropdown-link {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

.dropdown-link:hover {
  color: black; }

/*# sourceMappingURL=style.css.map */
