$navbar-height: 70px;
$text-color: rgb(230, 230, 230);

* {
        padding: 0;
        margin: 0;
}

.textStyle {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
                sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 20px;
        white-space: pre-line;
        color: $text-color;
        display: table-cell;
}

.wrapper {
        background-color: black;
        white-space: pre-line;
}

.horline {
        border: 0.1px solid $text-color;
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 0px;
}

#map {
        width: 100%;
        height: 400px;
        background-color: grey;
}

.uppernav {
        background: black;
        position: relative;

        &__ul {
                margin-bottom: 0px;
        }

        &__li {
                display: inline;
        }

        &__link {
                text-decoration: none;
                font-size: 20px;
                line-height: $navbar-height;
                margin-right: 16px;
                margin-left: 10px;
                color: white;
        }

        &__link:hover {
                text-decoration: none;
                color: white;
        }

        &__logo {
                text-decoration: none;
                font-size: 25px;
                line-height: $navbar-height;
                margin-right: 40px;
                margin-left: 10px;
                color: white;
        }

        &__logo:hover {
                text-decoration: none;
                color: white;
        }
}

.footer {
        background: black;
        position: relative;

        &__content {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
        }

        &__ul {
                grid-column-start: 2;
                justify-self: center;
                text-align: center;
                margin-bottom: 0px;
                // display: inline-block;
        }

        &__li {
                display: inline;
        }

        &__inc {
                grid-column-start: 1;
                text-align: left;
                color: $text-color;
                margin-left: 20px;
                margin-top: 6px;
        }

        &__link {
                text-align: center;
                margin-right: 10px;
                margin-left: 10px;
                width: 40px;
                height: 40px;
                background: $text-color;
                border-radius: 50%;
                display: inline-block;
                margin-bottom: 15px;
        }

        &__img {
                margin-top: 5px;
                width: 30px;
                height: auto;
        }
}
