$navbar-height: 70px;
$text-color: rgb(210, 210, 210);
$input-height: 35px;

* {
        padding: 0;
        margin: 0;
}

.textStyle {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
                sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 20px;
        white-space: pre-line;
        color: $text-color;
        display: table-cell;
}

.wrapper {
        white-space: pre-line;
        background-color: black;
        height: 100%;
        min-height: 100vh;
}

.horline {
        border: 0.5px solid $text-color;
        margin-bottom: 10px;
        margin-left: 40px;
        margin-right: 40px;
        // margin-top: 0px;
        height: 0.1px;
        color: $text-color;
}

.par {
        margin-left: 2em;
}

#map {
        height: 600px;
        margin-bottom: 10px;
        // background-color: aqua;
}

.uppernav {
        background: black;
        position: relative;

        &__ul {
                margin-bottom: 0px;
        }

        &__li {
                display: inline;
        }

        &__link {
                text-decoration: none;
                font-size: 20px;
                line-height: $navbar-height;
                margin-right: 16px;
                margin-left: 10px;
                color: white;
        }

        &__link:hover {
                text-decoration: none;
                color: white;
        }

        &__logo {
                text-decoration: none;
                font-size: 25px;
                line-height: $navbar-height;
                margin-right: 40px;
                margin-left: 10px;
                color: white;
        }

        &__logo:hover {
                text-decoration: none;
                color: white;
        }
}

.footer {
        background: black;
        position: relative;

        &__content {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
        }

        &__ul {
                grid-column-start: 2;
                justify-self: center;
                text-align: center;
                margin-bottom: 0px;
                // display: inline-block;
        }

        &__li {
                display: inline;
        }

        &__inc {
                grid-column-start: 1;
                text-align: left;
                color: $text-color;
                margin-left: 20px;
                margin-top: 6px;
        }

        &__link {
                text-align: center;
                margin-right: 10px;
                margin-left: 10px;
                width: 42px;
                height: 42px;
                background: $text-color;
                border-radius: 50%;
                display: inline-block;
                margin-bottom: 15px;
        }

        &__img {
                background: $text-color;
                margin-top: 6px;
                width: 28px;
                height: auto;
        }
}

.contact {
        &__ul {
                // display: inline-grid;
                text-align: center;
        }

        &__li {
                display: contents;
        }

        &__dark {
                display: -webkit-inline-box;
                border-width: 4px;
                border-style: solid;
                border-radius: 40px;
                background: rgb(30, 30, 30);
                border-color: rgb(20, 20, 20);
                padding: 20px;
                width: auto;
                height: auto;
                margin: 10px;
                margin-bottom: 0px;
        }

        &__img {
                margin: 0 auto;
                // text-align: left;
                margin-left: -40%;
                height: 100%;
                width: auto;
        }

        &__info {
                display: block;
                background: rgb(30, 30, 30);
                color: $text-color;
                margin-left: 20px;
        }

        &__opening-hours {
                margin-left: 20px;
                margin-bottom: 10px;
                display: inline-block;
        }

        &__subinfo {
                background: rgb(30, 30, 30);
                margin-top: 10px;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        }

        &__text-style {
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
                        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
                font-size: 16px;
                white-space: pre-line;
                color: $text-color;
                display: table-cell;
                background: rgb(30, 30, 30);
        }
}

.image-cropper {
        display: -webkit-inline-box;
        box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.5);
        width: 120px;
        height: 120px;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
        border-style: solid;
        border-color: rgb(20, 20, 20);
        border-width: 2px;
}

.title_text {
        background: $text-color;
        height: 1px;
        margin-top: 10px;
        text-align: center;
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 35px;
        margin-bottom: 35px;
}

.title_span {
        background-color: black;
        color: $text-color;
        padding: 10px;
        position: relative;
        top: -22px;
        left: 20px;
        font-size: 30px;
}

.optbar {
        transition: 0.5s;
        height: 0px; /* Full-height: remove this if you want "auto" height */
        // min-width: 100vh;
        width: 800px;
        // width: 700px; /* Set the width of the sidebar */
        z-index: 1;
        top: 0; /* Stay at the top */
        left: 0;
        text-align: center;
        // background: rgb(30, 30, 30);
        overflow-x: hidden; /* Disable horizontal scroll */
        -ms-overflow-style: none;
        // border-right-width: 0.5px;
        // border-right-style: solid;
        // border-right-color: $text-color;
        // border-top-width: 0.5px;
        // border-top-style: solid;
        // border-top-color: $text-color;
        // border-bottom-width: 0.5px;
        // border-bottom-style: solid;
        // border-bottom-color: $text-color;
        color: $text-color;
        // margin-top: $input-height;
        margin-left: 30px;

        &__element {
                margin: 5px;
                &__year {
                        display: inline-flex;
                        // width: 100px;
                }
                &__btn {
                        display: flex;
                }
        }

        &__input {
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
                        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
                border-radius: 3px;
                outline-width: 0px;
                width: -webkit-fill-available;
                padding: 3px;
                background-color: black;
                color: $text-color;
                margin: 10px;
                margin-top: 0px;
                border-left-width: 0px;
                border-right-width: 0px;

                &__year {
                        width: 100px;
                        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
                                "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
                                "Noto Color Emoji";
                        border-radius: 3px;
                        outline-width: 0px;
                        padding: 3px;
                        background-color: black;
                        color: $text-color;
                        border-left-width: 0px;
                        border-right-width: 0px;
                        margin-left: 1px;
                        margin-right: 1px;
                }
        }

        &__button {
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
                        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
                display: block;
                width: 50px;
                margin: 10px;
                margin-left: 1px;
                margin-right: 1px;
                height: $input-height;
                outline-width: 0px;
                border-width: 1px;
                border-radius: 3px;
                border-left-width: 0px;
                border-right-width: 0px;
                margin-top: 10px;
                background-color: black;
                color: $text-color;
                display: inline-block;
        }

        &__button:focus {
                outline-width: 0px;
        }

        &__li {
                display: inline-block;

                &__submit {
                }
        }
}

.optbar::-webkit-scrollbar {
        display: none;
}

.cars {
        display: -webkit-box;
        width: 100%;
        // margin-left: 200px;

        &__input {
                outline-width: 0px;
                width: 750px;
                padding-left: 8px;
                height: $input-height;
                border-radius: 10px 0px 0px 10px;
        }

        &__search {
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
                        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
                // width: 900px;
                display: -webkit-inline-box;
                margin-left: 40px;

                &__el {
                }
        }

        &__content {
                display: inline-grid;
        }
}

.btn {
        text-align: center;
        &__dark {
                width: 70px;
                height: $input-height;
                outline-width: 0px;
                border-width: 1px;
                border-radius: 0 10px 10px 0px;
        }

        &__dark:focus {
                outline: none;
        }
}

.car-list {
        &__list {
                display: -webkit-inline-box;
        }

        &__ul {
                // display: grid;
        }

        &__li {
                display: block;
                border-bottom: 0.5px solid $text-color;
                margin-left: 40px;
        }

        &__dark {
                display: -webkit-inline-box;
                // border-width: 1px;
                // border-style: solid;
                padding: 20px;
                width: auto;
                height: auto;
                margin: 10px;
                margin-top: 0px;
                margin-bottom: 0px;
        }

        &__img {
                margin: 0 auto;
                margin-left: -20%;
                height: 100%;
                width: auto;
        }

        &__info {
                display: block;
                color: $text-color;
                margin-left: 20px;
                width: 450px;

                font-size: 30px;

                &__main {
                        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                        margin-bottom: 40px;
                }
        }

        &__opening-hours {
                margin-left: 20px;
                margin-bottom: 20px;
        }

        &__subinfo {
                margin-top: 15px;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        }

        &__text-style {
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
                        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
                font-size: 20px;
                white-space: pre-line;
                color: $text-color;
                display: table-cell;

                &__main {
                        font-size: 30px;
                        font-weight: bolder;
                        color: $text-color;
                        word-wrap: break-word;
                        margin-bottom: 20px;
                }

                &__main:hover {
                        color: $text-color;
                }
        }

        &__img-cropper {
                display: -webkit-inline-box;
                box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.5);
                width: 300px;
                height: 300px;
                position: relative;
                overflow: hidden;
                border-style: solid;
                border-radius: 5%;
        }
}

.sorting {
        display: inline-flex;
        align-items: end;
        margin-top: 20px;

        &__text {
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
                        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
                border-radius: 3px;
                outline-width: 0px;
                margin-left: 40px;
                margin-bottom: 0px;
                background-color: black;
                color: #d2d2d2;
                border-left-width: 0px;
                border-right-width: 0px;
        }

        &__select {
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
                        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
                outline-width: 0px;
                margin-bottom: 0px;
                margin-left: 5px;
                border-left-width: 0px;
                border-right-width: 0px;
                border-radius: 3px;
                background-color: black;
                color: $text-color;
        }

        &__spec {
                // font-size:30px;
                margin-left: 50px;
                cursor: pointer;
                color: $text-color;
        }
}

.notfound {
        margin: 20px;
        color: $text-color;
}

input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
}

.pagination {
        &__ul {
                margin-left: 40px;
        }

        &__li {
                color: $text-color;
                display: inline-block;
                cursor: pointer;
                padding: 10px 20px 10px 20px;
                background-color: black;
                border: solid 1px $text-color;
                border-right: 0px;
                border-left: 0px;
        }

        &__curr {
                color: white;
                display: inline-block;
                padding: 10px 20px 10px 20px;
                background-color: rgb(30, 30, 30);
                border: solid 1px $text-color;
        }
}

#deleteTextId {
        display: inline-block;
}

#deleteTextId:hover {
        text-decoration-line: underline;
        cursor: pointer;
}

.comment {
        &__area {
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
                        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
                outline-width: 0px;
                width: 100%;
                height: 80px;
                padding: 5px;
                border-radius: 5px;
                color: $text-color;
                background-color: rgb(30, 30, 30);
                margin-top: 50px;
        }

        &__first {
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
                        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
                outline-width: 0px;
                width: 100%;
                padding: 5px;
                border-radius: 5px;
                color: $text-color;
                background-color: rgb(30, 30, 30);
                border: 0.5px solid $text-color;
                text-align: center;
                margin-bottom: 10px;
        }
}

.price {
        margin-top: 40px;
        display: block;
}

.order {
        display: block;
}

.order:hover {
        cursor: pointer;
        text-decoration: underline;
        color: #fff;
}

.info {
        text-align: center;
}
